{% extends 'base.html' %}
{% block content %}
    <div class="mdl-layout mdl-js-layout">
        <div id="login-container" class="mdl-card mdl-shadow--16dp">
            <div class="mdl-card__supporting-text">
                <div id="card-heading">
                    Forgot password
                </div>
                <form method="post" accept-charset="utf-8" action="{{ url_for('forgot_password') }}">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" for="email">Email</label>
                        <input class="mdl-textfield__input" id="email" type="text" name="email"/>
                    </div>
                    <button id="login-button"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
                            type="submit">Reset password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
